html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-style: 13px;
	font-weight: 400;
	font-style:normal;
	color: black;
	background: white;
}

h1,h2, h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight:700;
	font-style:normal;
}
a {
	text-decoration: none;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.container:after{
	content: '';
    clear: both;
    display: table;
}
.clearfix:after {
	content: '';
    clear: both;
    display: table;
}
.header {

}

.header__top {
	position: relative;
	height: 42px;
	background: #33445a;
	font-family: "Cuprum", Arial,sans-serif;
	font-size: 17px;
}
.header .logo {
	position: absolute;
	float: left;
	width: 220px;
	height: 51px;
	font-size: 24px;
	background: #ff5357;
}

.header__search {
	float: left;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.header__bookmarks, .header__basket, .header__ordering {
	float: right;
	width: 150px;
}
.header__basket {
	
}
.header__ordering {
	
}

.header__bottom {
	background: url ("img/background.png") #f3f7f9;
}
.slogan, .vcard, .account {
	width: 300px;
}
.slogan {
	float: left;
	width: 300px;
	background: red;
}

.slogan h2 {
	font-size: 16px;
	font-style: italic;
	color: #ff5357;
}

.vcard {
	float: left;
	width: 300px;
	background: yellow;
}

.account{
	float: right;
	width: 300px;
	background: green;
}

.vcard__tel, .account {
	font-size: 21px;
}

.vcard__address {
	font-size: 14px;
}

.navigation {
	float: left;
	min-height: 60px;
	width: 100%;
	background: #3d546e;
}

.navigation li{
	display: inline-block;
}

.navigation li a {
	color: #fff;
}

h2 .title-section {
	font-size: 30px;
}

h3 .promo__title {
 font-size: 24px;
}

.services__labels-item {
	font-size: 36px;
}

.footer .logo {
	font-size: 30px;
}
