html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-style: 13px;
	font-weight: 400;
	font-style:normal;
	color: black;
	background: white;
}

h1,h2, h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight:700;
	font-style:normal;
}
a {
	text-decoration: none;
}

.sprite {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: block;
}
.container {
	width: 940px;
	margin: 0 auto;
}
// .container:after{
// 	content: '';
//     clear: both;
//     display: table;
}
.clearfix:after {
	content: '';
    clear: both;
    display: table;
}
.header {

}

.header__top {
	min-height: 42px;
	background: #33445a;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
}

.header__top .container{
	position: relative;
}

.header .logo {
	float: left;
	width: 220px;
	
	background: #ff5357;
}

a.logo {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
	padding: 11px 0 7px 0;
}

.header .logo:after {
	position: absolute;
    content: '';
    left: 0;
    top: 41px;
    width: 220px;
    height: 4px;
    background: #b52933;
}

.header__search {
	position: relative;
	float: left;
	width: 212px;
	padding-top: 10px;
	padding-left: 48px;
	margin-right: 10px;
}

input[type=search] {
	width: 100%;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #33445a;
    border: none;
    cursor: pointer;
}

label.search-label {
	position: absolute;
    top: -42px;
    left: 12px;
    width: 26px;
    height: 73px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 8px 5px;
    opacity: 30%;
    cursor: pointer;
}

.header__bookmarks, .header__basket, .header__ordering {
	width: 108px;
	height: 28px;
	padding: 9px 18px 5px 24px;
}

.header__bookmarks {
	float: left;
}

.header__basket {
	float: left;
}

.header__ordering {
	float: right;
	background: #619a47;
}

.header__bottom {
	min-height: 280px;
	background-color: #f3f7f9;
}

.header__bookmarks a,  .header__basket a, .header__ordering a{
	color: #fff;
}

// .row {
// 	min-height: 160px;
// }

// .slogan, .vcard, .account {
// 	width: 300px;
// }

.slogan {
	float: left;
	width: 247px;
	padding: 150px 1px 10px 52px;
}

.slogan h2 {
	font-size: 16px;
	font-style: italic;
	margin-top: -97px;
	color: #ff5357;
}

.vcard {
	float: left;
	width: 300px;
	margin-top: 54px;
	padding-left: 20px;
}
.vcard__tel {
	font-family: "Cuprum", Arial, sans-serif;
	border: 3px solid #fff;
	color: #fb463c;
	height: 33px;
	padding-top: 6px;
	padding-left: 68px;
}
.vcard__address {
	font-size: 14px;
	color: #3d546e;
}

.account{
	font-family: "Cuprum", Arial, sans-serif;
	float: right;
	width: 300px;
	padding-left: 20px;
	margin-top: 54px;
}

.vcard__tel, .account {
	font-size: 21px;
}

.account__btn {
	display: inline-block;
	width: 123px;
	height: 36px;
	padding-top: 9px;
	margin-right: 10px;
	color: #000;
	text-align: center;
	background: #fff;
}


.navigation {
	float: left;
	min-height: 60px;
	background: #3d546e;
}

.navigation li{
	display: inline-block;
	padding-right: 54px;
}

.navigation li a {
	color: #fff;
}

h2 .title-section {
	font-size: 30px;
}

h3 .promo__title {
 font-size: 24px;
}

.services__labels-item {
	font-size: 36px;
}

.footer .logo {
	font-size: 30px;
}
